
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 bg-light">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
      </a>
      <span class="text-muted">&copy; 2021 DC Forever Farm</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li><a href=""></a><img src="https://img.icons8.com/fluency/48/000000/twitter.png"/></li>
      <li><a href="https://www.instagram.com/dconnell_farm/" target="_blank"><img src="https://img.icons8.com/fluency/48/000000/instagram-new.png"/></a></li>
      <li><a href="https://www.facebook.com/DCForeverFarm/" target="_blank"><img src="https://img.icons8.com/fluency/48/000000/facebook-new.png"/></a></li>
    </ul>
  </footer>

