<div class="container-fluid">
  <nav
    *ngIf="!isLogin"
    class="
      real-nav
      row
      d-flex
      justify-content-center
      align-items-center
      fixed-top
    "
  >
    <div id="sky" class="row d-flex">
      <img
        id="sun"
        src="https://img.icons8.com/emoji/50/000000/sun-emoji.png"
      />
      <img
        id="cloud"
        src="https://img.icons8.com/emoji/48/000000/cloud-emoji.png"
      />
      <img
        id="cloud1"
        src="https://img.icons8.com/emoji/48/000000/cloud-emoji.png"
      />
      <img
        id="cloud2"
        src="https://img.icons8.com/emoji/48/000000/cloud-emoji.png"
      />
      <img
        id="cloud3"
        src="https://img.icons8.com/emoji/48/000000/cloud-emoji.png"
      />
    </div>

<div class="row d-flex ">
  <div class="col-sm-6  justify-content-center align-items-center">
    <a
      href="/"
      class="
        d-flex
        align-items-center
        text-dark text-decoration-none
      "
    >
      <svg class="bi me-2" width="40" height="32">
        <use xlink:href="#bootstrap" />
      </svg>
      <span class="fs-4"
        ><img
          id="horse"
          src="https://img.icons8.com/plasticine/100/000000/horse.png"
        />DC Forever Farm</span
      >
    </a>
  </div>
  <div class="col-sm-none col-xl-6 justify-content-end align-items-center">
    <ul class="nav nav-pills">
      <a
        target="_blank"
        href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.paypal.com%2Fpaypalme%2Fdcforeverfarm%3Flocale.x%3Den_US%26fbclid%3DIwAR0E63aIWFQ3NhrrXINJRkOtQB7MpSXoRy5almGqGyJM2W6CVMuRcwbd9Ss&h=AT1bE_VodwEiEnP61PrC3d4UUE5jFg1YDSoAQS98cvSb45mklMzkYmfQda1ICboLDSygz895vJvC8UPmaRe2Ej4RK3CDFTdFlaA51okoltHhltvg3jEptU_YlMs0rO6Zn07T"
        ><button>Donate</button></a
      >
      <a href="/"><button>Home</button></a>
      <a href="/news"><button>News</button></a>
      <a href="/about"><button>About</button></a>
    </ul>
  </div>
  <section class="p-menu1">
    <nav id="navbar" class="navigation" role="navigation">
      <input id="toggle1" type="checkbox" />
      <label class="hamburger1" for="toggle1">
        <div class="top"></div>
        <div class="meat"></div>
        <div class="bottom"></div>
      </label>

      <nav class="menu1">
        <a class="link1" routerLink="/#">Home</a>
        <a class="link1" routerLink="/#/news">News</a>
        <a class="link1" routerLink="/#/about">About</a>
      </nav>
  </nav>
  </section>
</div>
  </nav>
  <nav
    *ngIf="isLogin"
    class="
      real-nav
      row
      d-flex
      justify-content-center
      align-items-center
      fixed-top
    "
  >
    <div id="sky" class="row d-flex">
      <img
        id="sun"
        src="https://img.icons8.com/emoji/50/000000/sun-emoji.png"
      />
      <img
        id="cloud"
        src="https://img.icons8.com/emoji/48/000000/cloud-emoji.png"
      />
      <img
        id="cloud1"
        src="https://img.icons8.com/emoji/48/000000/cloud-emoji.png"
      />
      <img
        id="cloud2"
        src="https://img.icons8.com/emoji/48/000000/cloud-emoji.png"
      />
      <img
        id="cloud3"
        src="https://img.icons8.com/emoji/48/000000/cloud-emoji.png"
      />
    </div>

<div class="row d-flex ">
  <div class="col-sm-6  justify-content-center align-items-center">
    <a
      href="/"
      class="
        d-flex
        align-items-center
        text-dark text-decoration-none
      "
    >
      <svg class="bi me-2" width="40" height="32">
        <use xlink:href="#bootstrap" />
      </svg>
      <span class="fs-4"
        ><img
          id="horse"
          src="https://img.icons8.com/plasticine/100/000000/horse.png"
        />DC Forever Farm</span
      >
    </a>
  </div>
  <div class="col-sm-none col-xl-6 justify-content-end align-items-center">
    <ul class="nav nav-pills">
      <a href="/"><button>Home</button></a>
      <a href="/news"><button>News</button></a>
      <a href="/about"><button>About</button></a>
      <button class="logout" (click)="logout()">Logout</button>
    </ul>
  </div>
  <section class="p-menu1">
    <nav id="navbar" class="navigation" role="navigation">
      <input id="toggle1" type="checkbox" />
      <label class="hamburger1" for="toggle1">
        <div class="top"></div>
        <div class="meat"></div>
        <div class="bottom"></div>
      </label>

      <nav class="menu1">
        <a class="link1" routerLink="/">Home</a>
        <a class="link1" routerLink="/news">News</a>
        <a class="link1" routerLink="/about">About</a>
      </nav>
  </nav>
  </section>
</div>
  </nav>
</div>

