<div id="background" class="container">
  <div id="background2" class="container container-2">
    <div *ngIf="isLoading" class="container">
      <div class="row d-flex justify-content-center">
        <div class="lds-facebook col-12">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
    <div *ngIf="!isLoading"  class="row d-flex justify-content-around">
      <div class="col-12 d-flex justify-content-center">
        <h2 id="news-header">NEWS</h2>
      </div>
      <div *ngFor="let b of blogs" class="col-sm-12 col-md-4 d-flex justify-content-center">
        <div class="card">
          <cl-image public-id="{{ b.image }}">
            <cl-transformation
              gravity="face"
              height="235"
              width="300"
              crop="fill"
            ></cl-transformation>
          </cl-image>
          <div class="card-body">
            <div class="row justify-content-center">
              <div class="col-12">
                <p class="card-title">{{ b.title }}</p>
              </div>
              <div class="col-12 d-flex justify-content-center">
                <p id="postedby">posted by: {{ b.author }}</p>
              </div>
              <div class="col-12 d-flex justify-content-center">
                <button class="card-button" [routerLink]="[b._id]">
                  <span class="card-span">View More</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <button
        class="btn btn-lg btn-success"
        *ngIf="isLogin"
        routerLink="/news/create"
      >
        Create Blog
      </button>
    </div>
  </div>
</div>
