<div class="container">
  <form  #form='ngForm' (submit)="onSubmit(form)">
    <div>Edit Blog</div>


    <input type="file" name="photo" ngModel
          (input)="onChange(f.files[0])" #f #test>
    <div >
      <input type="text" placeholder=" " [(ngModel)]="blog.title" name="title" ngModel form.title="ngModel"/>
      <div class="cut cut-short"></div>
      <label>Title</label>
    </div>
    <div >
      <quill-editor [styles]="{'height': '500px'}"  [(ngModel)]="blog.text" name="text" ngModel form.text="ngModel"  placeholder="">
      </quill-editor>
      <label>Text</label>
    </div>
    <button type="submit">submit</button>
   </form>
</div>
