<div class="container d-flex justify-content-center">
  <div class="col-12 d-flex justify-content-center">
    <form #form="ngForm" (submit)="onSubmit(form)">
      <div id="createblogheader">New Blog</div>
  <label for="photo">Cover Photo:</label>
      <input
        type="file"
        name="photo"
        ngModel
        (input)="onChange(f.files[0])"
        #f
        #test
      />
      <div>
        <label for="title">Title:</label>
        <input
          class="title"
          type="text"
          placeholder=" "
          name="title"
          ngModel
          form.title="ngModel"
        />
      </div>
      <div>
        <label for="text">The Blog:</label>
        <quill-editor
          [styles]="quillStyle"
          name="text"
          ngModel
          form.text="ngModel"
          placeholder=""
        >
        </quill-editor>

      </div>
      <div class="row d-flex justify-content-around">
        <button *ngIf="show" type="submit">Submit</button>
        <button disabled *ngIf="!show"><i class="fa fa-spinner fa-pulse"></i></button>
        <button class="cancel" routerLink="/news">Cancel</button>
      </div>
    </form>
  </div>

</div>
