body{
  background: url(https://res.cloudinary.com/walterscloudinary/image/upload/v1638320134/dcfarm/farm_backgorund_adobespark_3_ncjvya.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
